body{
  background-color: #fff38e;
  font-family: 'Comic Sans MS';
}

#main {
  text-align: center;
}

.anagram {
  color: orange;
}

#answers{
  margin: auto;
  margin-bottom: 5px;
}
button{
  margin: 5px;
}
